In [1]:
import pandas as pd
import numpy as np

In [2]:
#download the class movie reviews from here:
#https://docs.google.com/spreadsheets/d/17rCJzmWxqvAu9rkpkgt4ToccIlY4A1Ffuu1W9X3B8Ag/
#then read that in as a pandas dataframe

In [15]:
M = pd.read_csv('/Users/markdang/Downloads/sheet.csv', index_col='Name')

In [16]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [17]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

In [18]:
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Aarti Jaiswal,4.0,NaN,NaN,NaN,4.0,3.0,NaN,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
Aditya Dharmasagar,5.0,NaN,NaN,4.0,5.0,4.0,4.0,NaN,4.0,5.0,5.0,5.0,4.0,4.0,NaN,5.0
Adrian Cavallaris,NaN,4.0,3.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
Ahmed Muheebuddin,5.0,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aishwarya reddy,NaN,3.0,4.0,3.0,4.0,4.0,3.0,NaN,4.0,4.0,3.0,5.0,NaN,4.0,NaN,3.0

###Question 1:  What movie is most Similar to 'The fault in our stars' (60 pts)

In [29]:
titles = list(M.columns.values)
for title in titles:

    score = pearson(M['The Fault in Our Stars'], M[title])
    print (title, score)

('American Sniper', -0.087825821270494375)
('The Hunger Games: Mockingjay - Part 1', 0.042879610107689752)
('Guardians of the Galaxy', 0.13217163726548911)
('The Lego Movie', 0.083981926369952192)
('The Hobbit', -0.014511728086691848)
('Transformers', 0.007626920910922875)
('Malificent', 0.20279670863265634)
('Big Hero 6', -0.086066607519005939)
('Godzilla', -0.018488042754854009)
('Interstellar', 0.1983237371559213)
('How to Train your Dragon 2', 0.14264119897594232)
('Gone Girl', 0.052742299250481919)
('Divergent', 0.14513015891815409)
('The Fault in Our Stars', 1.0)
('Unbroken', 0.06924931265846844)
('300: Rise of an Empire', -0.060536887866172104)

#### Malificnet with 0.20279

###Question 2:  Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

In [30]:
#HINTS...

#the movies I've seen
my_ratings = M.ix['Mike'].dropna()
#the movie I've rated the highest
my_ratings.sort(ascending=False)
#the name of the movie I've rated the highest
fav_movie = my_ratings.index[0]
recs = get_recs(fav_movie, M, 10)
recs[:10]

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

[('The Lego Movie', 0.41457413987832908),
 ('The Hobbit', 0.23752753432176135),
 ('The Hunger Games: Mockingjay - Part 1', 0.22972898137339962),
 ('The Fault in Our Stars', 0.13217163726548911),
 ('How to Train your Dragon 2', 0.12792243859706323),
 ('Big Hero 6', 0.072172240441681121),
 ('Godzilla', 0.062303687745470022),
 ('Divergent', -0.035455402926207649),
 ('Gone Girl', -0.038800724700362596),
 ('Transformers', -0.047092530053280852)]

###Question 3: Bonus Question...  For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)